:root {
  --blue: #1F70A8;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

section {
  height: 650px;
}

header {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.15);
  padding-bottom: 8px;
}

nav {
  display: inline;
  font-size: 14px;
}

nav > ul {
  list-style-type: none;
  float: right;
  padding-right: 30px;
}
nav > ul > li {
  display: inline;
  padding: 0 15px;
}

nav img {
  padding-left: 25px;
  padding-top: 15px;
}

nav > ul > li > button {
  width: 129px;
  height: 38px;
  border-radius: 5px;
  border: 0;
  background-color: var(--blue);
  color: var(--white);
}

a, a:link, a:visited, a:hover, a:active {
  color: var(--black);
  text-decoration: none;
}

/** Class styles **/
.bold-text {
  font-weight: 400;
}

.blue-text {
  color: var(--blue);
}

.text-right-padding {
  padding-right: 20px;
}

.table-header-right-padding {
  padding-right: 65px;
}

/** Id style **/
#request-link {
  color: var(--white);
}

div#may-promo {
  padding: 0 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#may-promo-info {
  width: 50%;
  padding-left: 15px;
}

#may-promo-info h1 {
  font-weight: 300;
  font-size: 56px;
  color: var(--black);
  margin-bottom: 20px;
}

#may-promo-info h2 {
  font-weight: 300;
  font-size: 40px;
  color: var(--black);
  margin-bottom: 20px;
  margin-top: 0;
}

#may-promo-info p {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 344px;
  color: var(--black);
}

div#may-promo-photo {
  width: 50%;
  margin-right: 15px;
}

#address {
  font-weight: 400;
  font-size: 36px;
  color: var(--blue);
}

#store-hours, #phone-numbers {
  font-size: 24px;
  font-weight: 300;
}

#intro-page {
  padding-top: 70px;
  min-width: 1083px;
}

#contact-us {
  display: block;
  margin: 0 auto;
  justify-content: center;
  width: 60%;
}

#pricing-page {
  padding-top: 48px;
  background-color: var(--blue);
  color: var(--white);
}

section#pricing-page h1 {
  font-size: 56px;
  font-style: 300;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

/** Table style **/
table#pricing-table {
  font-size: 24px;
  margin: 0 auto;
}

td {
  font-weight: 300;
  padding-bottom: 25px;
}

th {
  font-weight: 400;
  padding-bottom: 20px;
}
